body {
  font-family: Georgia, serif;
  width: 98%;
}

header {
  background-color: white;
  display: flex;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

header h1 {
  background: -webkit-radial-gradient(rgb(95, 1, 95) ,  blueviolet);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  font-family:Georgia, serif;
      
}
.button {
  float: right;
  display: flex;
  margin-top: -5%;
}

.main {
  display: flex ;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

img {
  width:7% ;
  height: auto;
}

#about {
  border: solid purple   2px;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;

}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
input[type=button] {
  border: none;
  text-decoration: none;
  color: black;
  padding: 15px 15px;
  margin: 10px 10px;
  border-radius: 10%;
  font-size: 15px;
  
}

input[type=button]:hover,
input[type=button].active {
  background-color: blueviolet;
}

.head1{
  display: flex;
}

.bd{
  padding: 10px;
}
.img2 {
  width: 10%;
  height: auto;
}
.main1 {
  border: purple solid 2px;
  border-radius: 5px;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  display: flex;

}
.main1 p{
  font-size: xx-large;
  margin: 15px;
  
}