*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    transition: all 500ms ease;
}

body {
    background: url("fpass.jpg") no-repeat center;  
    /* background: url( "{% static '/forget/week1/fpass.jpg'%}") no-repeat center; */
    background-size: 100%;
    font-family: sans-serif;
}

.row{
    background-color: #033258;
    color: #9dc3e2;
    text-align: center;
    padding: 2em 2em 0.5em;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.row h1{
    font-size: 2.5em;
}

.row .form-group{
    margin: 0.5em 0;
}

.row .form-group label{
    display: block;
    color: #fff;
    text-align: left;
    font-weight: 600;
}

.row .form-group input, .row .form-group button{
    display: block;
    padding: 0.5em 0;
    width: 100%;
    margin-top: 0.5em;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #555;
    color: #eee;
}


.row .form-group input:focus, .row .form-group button:focus {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 1em 0.5em;
    animation: pulse 1s infinite ease;
}

.row .form-group button{
    width: 290px;
    height: 35px;
    border: 1px solid #fff;
    color: #80aed4;
    font-weight: 800;
    cursor: pointer;
    font-size: .9em;
    margin: 25px 0 10px;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%; 
}

.row .form-group button:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

.row .form-group button:hover, .row .form-group button:focus {
    background-color: #fff;
}

.row .form-group button.is-loading::after {
    animation: spinner 500ms infinite linear;
    content: '';
    position: absolute;
    margin-left: 2em;
    border: 2px solid #000;
    border-radius: 100%;
    border-right-color: transparent;
    border-left-color: transparent;
    height: 1em;
    width: 4%;
}



.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 320px) {
    .row{
        padding-left: 1em;
        padding-right: 1em;
    }
    .row h1{
        font-size: 1.5em !important;
    }
}

@media screen and (min-width: 900px) {
    .row{
        width: 50%;
        
    }
}