{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bc.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">

            <div class="front side">
                <h1 class="logo">Zndra</h1>
            </div>

            <div class="back side">
                <h3 class="name">Zndra Munkh-Erdene</h3>
                <div style="color:black">Back-end developer</div>
                <div class="info">
                    <p><span class="property">Email: </span>zandraa1307@gmail.com</p>
                    <p><span class="property">Phone: </span>(976) 801-275-59</p>
                    <p><span class="property">Website: </span>www.ararestnhotel.com</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>