{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/just.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="intro">
            <div class="profile">
                <div class="photo">
                    <img src="{% static 'images/bi.jpg'%}">
                </div>
                <div class="bio">
                    <h1 class="name">Zndra</h1>
                    <p class="profession">Back-end Developer</p>
                </div>
            </div>
            <div class="intro-section about">
                <h1 class="title">Personal Information</h1>
                <p class="paragraph">Citizenship: Монгол</p>
                <p class="paragraph">Овог: Мөнх-Эрдэнэ</p>
                <p class="paragraph">Нэр: Зандраарагчаа</p>
                <p class="paragraph">Нас: 20</p>
                <p class="paragraph">Хүйс: Эмэгтэй</p>
            </div>
            <div class="intro-section contact">
                <h1 class="title">Contact</h1>
                <div class="info-section">
                    <i class="fa fa-phone"></i>
                    <span>+976 801-275-59</span>
                </div>
                <div class="info-section">
                    <i class="fa fa-envelope"></i>
                    <span>gmail@gmail.com</span>
                </div>
                <div class="info-section link">
                    <i class="fa fa-facebook"></i>
                    <a target="_blank" rel="author" href="https://www.facebook.com/profile.php?id=100072008696619">
                        <span>Mn Zndra</span>
                    </a>
                </div>
            </div>
            <div class="intro-section follow">
                <h1 class="title">Follow</h1>
                <div class="info-section link">
                    <i class="fa fa-github"></i>
                    <a target="_blank" rel="author" href="https://github.com/zndra">
                        <span>zndra</span>
                    </a>
                </div>
                <div class="info-section link">
                    <i class="fa fa-instagram"></i>
                    <a target="_blank" rel="author" href="https://medium.com/狗奴工程師">
                        <span>zzndra</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="detail">
            <div class="detail-section edu">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <span>Education</span>
                </div>
                <div class="detail-content">
                    <div class="timeline-block">
                        <h1>Department of Computer Science</h1>
                        <p>National Tsing Hua University, Taiwan</p>
                        <time>2015 - 2019</time>
                    </div>
                    <div class="timeline-block">
                        <h1>Institute of Computer Science and Engineering</h1>
                        <p>National Chiao Tung University, Taiwan</p>
                        <time>2020 - present</time>
                    </div>
                </div>
            </div>
            <div class="detail-section edu">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <span>Experience</span>
                </div>
                <div class="detail-content">
                    <div class="timeline-block">
                        <h1>Trade consultant</h1>
                        <p>Altan Joloo Treid LLC, Sansar</p>
                        <time>2022-2023</time>
                    </div>
                </div>
            </div>
            <div class="detail-section pg-skill">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <span>Хэлний мэдлэг</span>
                </div>
                <div class="detail-content">
                    <ul class="pg-list">
                        <li>
                            <span>Монгол хэл</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 90%"></div>
                            </div>
                        </li>
                        <li>
                            <span>Англи хэл</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 40%"></div>
                            </div>
                        </li>
                        <li>
                            <span>Солонгос хэл</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 10%"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detail-section pg-skill">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <span>Programming skills</span>
                </div>
                <div class="detail-content">
                    <ul class="pg-list">
                        <li>
                            <span>HTML5</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 70%"></div>
                            </div>
                        </li>
                        <li>
                            <span>CSS3</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 45%"></div>
                            </div>
                        </li>
                        <li>
                            <span>Javascript</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 10%"></div>
                            </div>
                        </li>
                        <li>
                            <span>Python</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 50%"></div>
                            </div>
                        </li>

                        <li>
                            <span>ReactJS</span>
                            <div class="sb-skeleton">
                                <div class="skillbar" style="--pgbar-length: 40%"></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="detail-section tool-skill">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-tools"></i>
                    </div>
                    <span>Developement Tools</span>
                </div>
                <div class="detail-content">
                    <ul class="tool-list">
                        <li>
                            <svg viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45"></circle>
                                <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.6"></circle>
                            </svg>
                            <span class="tl-name">Photoshop</span>
                            <span class="tl-exp">10%</span>
                        </li>
                        <li>
                            <svg viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45"></circle>
                                <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.8"></circle>
                            </svg>
                            <span class="tl-name">Sublime</span>
                            <span class="tl-exp">80%</span>
                        </li>
                        <li>
                            <svg viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45"></circle>
                                <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.7"></circle>
                            </svg>
                            <span class="tl-name">Git</span>
                            <span class="tl-exp">70%</span>
                        </li>
                        <li>
                            <svg viewbox="0 0 100 100">
                                <circle cx="50" cy="50" r="45"></circle>
                                <circle class="cbar" cx="50" cy="50" r="45" style="--percent: 0.74"></circle>
                            </svg>
                            <span class="tl-name">NPM</span>
                            <span class="tl-exp">74%</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="detail-section interests">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <span>Interests</span>
                </div>
                <div class="detail-content">
                    <div class="outer-frame">
                        <ul class="favor-list">
                            <li>
                                <i class="fa fa-book"></i>
                                <span>Book</span>
                            </li>
                            <li>
                                <i class="fa fa-book"></i>
                                <span>Book</span>
                            </li>
                            <li>
                                <i class="fa fa-book"></i>
                                <span>Book</span>
                            </li>
                            <li>
                                <i class="fa fa-book"></i>
                                <span>Book</span>
                            </li>
                            <li>
                                <i class="fa fa-book"></i>
                                <span>Book</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>