{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template</title>
    <link rel="stylesheet" href="{% static '/css/templates/odkeBc.css'%}">
</head>
<body>
    <a href="/home">Буцах</a>
    <div class="bc">
        <div class="card">
            <div class="bcFront">
                <div class="content">
                    <img src="{% static '/images/temp/html.png'%}" alt="" width="120px" height="auto">
                    <div class="name">
                    <p><b>COMPANY</b></p> 
                    </div>
                    
                </div>
                <div class="footer">
                        <p>whois.mandakh.org</p>
                </div>
            </div>
            <div class="bcBack">
                <div class="saaral">
                    <div class="saaral1">
                        <img src="{% static '/images/temp/html.2.png'%}" alt="" width="100px" height="auto">
                        <div class="name1">
                            <p><b>COMPANY</b></p> 
                        </div>
                    </div>
                </div> <br>
                <div class="tsagaan">
                    <div class="tsagaan1">
                        <h1>Your Name</h1>
                        <p>...... developer</p>
                        <p>Email:name@gmail.com</p>
                        <p>Phone:88888888</p>
                        <p>website:whois.mandakh.org</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>