<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="assets/css/main.css" rel="stylesheet">


</head>

<body>

  <header class="header" id="site-header">
    <div class="container">
      <div class="header-inner">
        <a href="index.html" class="logo">
          <span>N</span>Tuguldur
        </a>
      </div>
    </div>
  </header>
  <div class="banner">
    <div class="container">
      <div class="row">

        <figure>
          <img src="assets/images/profile-image.jpg">
        </figure>
      </div>

      <section>
        <h1>
          N.Tuguldur <br>Univercity shopomore
        </h1>
        <ul class="numbervalulist">
          <li>
            <strong>age</strong>
            <span>20</span>
          </li>
        </ul>
      </section>
    </div>
  </div>
  </div>
  </div>
  <div class="about-section">
    <div class="container">
      <section>
        <h2 class="heading">About Me</h2>
        <p>Education: Bachelor's degree in Computer Science from Mandakh
          Skills: Proficient in programming languages such as Java, C++, and Python. Experience with web development,
          database management, and software testing. Strong problem-solving and analytical skills. Excellent teamwork
          and communication abilities.
          Experience: Completed a two-year university program with a focus on software engineering. Developed various
          projects, including web applications and mobile apps, applying software engineering principles and best
          practices.</p>

      </section>
    </div>
  </div>
  <div class="skills-section">
    <div class="container">
      <div class="row">
        <div class="banner">
          <h2 class="heading">Core Skills</h2>
          <ul class="skills-list">
            <li class="button">JavaScript</li>
            <li class="button">Node.js</li>
            <li class="button">Vue.js</li>
            <li class="button">React</li>
            <li class="button">Github</li>
            <li class="button">HTML</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="container">
      <section>
        <h2 class="heading">Work Expenrians</h2>
        <p>Random Company, Anytown, USA
          June 2021 - Present
          
          Developed and maintained software applications using Java, Python, and C++
          Collaborated with cross-functional teams to design and implement new features
          Conducted thorough testing and debugging to ensure software quality
          Participated in code reviews and provided constructive feedback to team members
          Assisted in optimizing software performance and scalability
          Researched and implemented innovative solutions to improve productivity and efficiency</p>

      </section>
    </div>
  </div>

</body>

</html>