{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/bc.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="card">

            <div class="front side">
                <h1 class="logo">{{undsen.userName}}</h1>
            </div>

            <div class="back side">
                <h3 class="name">{{undsen.firstName}} {{undsen.lastName}}</h3>
                <p><span class="property">                        
                    {% for elem in work %}
                        {% if elem.duussan == '' %} 
                            {{ elem.ajil }}
                        {% endif %}
                    {% endfor %}
                </p>
            <div style="color:black"></div>
                <div class="info">
                    <p><span class="property">Email: </span>{{undsen.email}}</p>
                    <p><span class="property">Phone: </span>(976) {{nemelt.dugaar}}</p>
                    <p><span class="property">Website: </span>Your website...</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>