{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/templates/bc.css'%}"
    />
    <title>Document</title>
    <style></style>
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="front side">
          <h1 class="logo">{{undsen.userName}}</h1>
        </div>

        <div class="back side">
          <div class="left-section">
            <h3 class="name">{{ undsen.lastName }} {{ undsen.firstName }}</h3>
            <p style="color: #50586c">
              {% for elem in work %} {% if elem.duussan == 'Ажиллаж байгаа' %}
              {{ elem.ajil }} {% endif %} {% endfor %}
            </p>
          </div>

          <div class="right-section">
            <div class="info">
              <p><span class="property">Email: </span>{{ undsen.email }}</p>
              <p><span class="property">Phone: </span>{{ nemelt.dugaar }}</p>
              {% if social %} {% for a in social %}
              <p>
                <span class="property">{{ a.app|upper }}: </span>{{ a.site }}
              </p>
              {% endfor %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
