{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{undsen.firstName}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="path/to/jspdf.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/week1/Tudu/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="{% static '/images/week1/Tudu/icons8-about-16.png' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="{% static '/js/week1/Tudu/app.js' %}"></script>
    <script src="https://kit.fontawesome.com/609039e62e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1><i class="fas fa-user"></i> {{undsen.firstName}}</h1>
        <img id="myImage" src="{% static '' %}" alt="{{undsen.firstName}}" onclick="showImage()">

        <div id="overlay">
            <img id="overlayImg" src="" alt="">
            <button id="closeButton" onclick="hideImage()">Close</button>
          </div>
    </header>
    <div class="container">
        <section class="section">
            <h2><i class="fas fa-info-circle"></i> Миний тухай</h2>
            <h3>Нэр: <span>{{undsen.firstName}}</span></h3>
            <h3>Овог: <span>{{undsen.lastName}}</span></h3>
            <h3>Төрсөн огноо: <span>{{nemelt.torsonOgnoo}}</span></h3>
            <h3>Хаяг</h3>
            <p>{{nemelt.hayg}}</p>
            
        </section>
        <section class="section">
            <h2><i class="fas fa-graduation-cap"></i>Боловсрол</h2>
            {% for elem in education %}
            <h3>Сургууль</h3>
            <p>{{ elem.education }} </p>
            <h3>Чиглэл</h3>
            <p>{{ elem.direction }} </p>
            <h3>Элссэн он</h3>
            <p>{{elem.elssenOn }} </p>
            <h3>Төгссөн он</h3>
            <p>{{ elem.duussanOn }} </p>
            {% endfor %}
        </section>
        <section class="section">
            <h2><i class="fa-solid fa-lightbulb"></i>Чадвар</h2>
            <ul>
                <li><i class="fa-solid fa-clock"></i>{{skill.chadvarNer}}</li>
            </ul>
        </section>
        <section class="section">
            <h2><i class="fas fa-heart"></i>Сонирхол</h2>
            <ul>
                <li><i class="fas fa-star"></i>{{nemelt.hobby}}</li>
                
            </ul>
        </section>
        <section class="section">
            <h2><i class="fas fa-heart"></i>Цахим хаягууд</h2>
            {% for elem in social %}
            <h3>Платформ: {{ elem.app }}  Хаяг: {{ elem.site }}</h3>
            {% endfor %}
        </section>
        <section class="contact section">
            <h2><i class="fas fa-envelope"></i>Холбогдох</h2>
            <p>Цахим шуудан: <a href="mailto:apoxmn@gmail.com">{{undsen.email}}</a></p>
            <p>Утасны дугаар:{{nemelt.dugaar}}</p>
        </section>
        <button class="downloadButton" onclick="savePageAsPDF()">PDF ээр татах</button>
    </div>
    </body>
</html>
