{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{% static ''%}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Үндсэн мэдээлэл</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />
  <link href="{% static '/css/dashboard/bootstrap.min.css'%}" rel="stylesheet" />
  <link href="{% static '/css/Profile/1.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/css/dashboard/animate.min.css'%}" rel="stylesheet" />
  <link href="{% static '/css/dashboard/light-bootstrap-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static '/css/dashboard/demo.css'%}" rel="stylesheet" />
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css" />
  <link href="{% static '/css/dashboard/pe-icon-7-stroke.css'%}" rel="stylesheet" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed" style="width: 1200px;">
      <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
            {% include "../includes/logout.html"  %}
            <!-- <li class="separator hidden-lg"></li> -->
        </div>
      </div>
    </nav>
  </div>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static '/images/sidebar-5.jpg'%}">
      {% include "../includes/menu.html" %}
    
    </div>
  <div class="container">
    <div class="wrapper">
            <div class="main">
          <!-- ###### Үндсэн мэдээллийн хэсэг ###### -->
              <form id="cc-contact" class="form-group" action="" method="post" name="userInfoUpdateForm">
                <h1>Үндсэн мэдээлэл</h1>
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-floating mt-3">
                      <span style="color:#0000FF;">
                        {{ responseText }}
                      </span>
                    </div>
                  </div>
                </div>
                   
              <!-- zurag oruulah section -->
              <div class="row">
                <div class="col-sm-12 mt-3">
                  <div class="form-floating">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="file" id="imageInput" accept="image/*">
                    <div id="imageContainer"></div>
                    <label for="imageInput"></label>
                    <label for="imageInput" class="custom-file-upload" id="insertImgSubmit" >
                      Зураг оруулах
                    </label>
                    <div>
                      <!-- Display uploaded images here
                      {% for image in images %}
                          <img src="{{ image.image.url }}" alt="Uploaded Image">
                      {% empty %}
                      {% endfor %} -->
                  </div>
                  </form>
                    
                  </div>
                </div>
              </div>
               <!-- end -->
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-floating mt-3">
                      <label for="floatingFname">Овог</label>
                      <input type="text" name="lastName" class="form-control form-control-sm" id="floatingFname"
                        placeholder="Овог" value="{{ lastName }}">
                    </div>
                  </div>
                
                
                  <div class="col-sm-3">
                    <div class="form-floating mt-3">
                      <label for="floatingLname">Нэр</label>
                      <input type="text" name="firstName" class="form-control form-control-sm" id="floatingLname"
                        placeholder="Нэр" value="{{ firstName }}">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-8 mt-3">
                    <div class="form-floating mt-8">
                      <label for="floatingEmail">Имэйл хаяг</label>
                      <input type="email" name="email" class="form-control form-control-sm" id="floatingEmail"
                        placeholder="Имэйл" value="{{ email }}" readonly>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8 mt-3">
                    <div class="form-floating mt-8">
                      <label for="floatingUsername">Хэрэглэгчийн нэр</label>    
                      <input type="text" name="userName" class="form-control form-control-sm" id="floatingUsername"  autocomplete="false" 
                        value="{{ userName }}">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 mt-3 mb-4" class="col-sm-2">
                    <div class="btn-group mr-2 " role="group" aria-label="First group">
                      <input type="submit" id="userInfoUpdateSubmit" name="userInfoUpdateSubmit" value="Хадгалах">
                    </div>
                  </div>
                </div>
              </form> 
                    <!-- ############################################################### -->  
                    <!-- Нууц үг солих хэсэг -->
              <form id="cc-contact" class="form-group" action="" method="post" name="changePassForm">
                {% csrf_token %}
                      <div class="row">
                  <div class="col-sm-8 mt-3">
                    <div class="form-floating mt-8">
                      <label for="floatingPassword">Нууц үг</label>
                      <input type="password" name="old" class="form-control form-control-sm" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');"
                        id="floatingPassword" >
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-8 mt-3">
                    <div class="form-floating mt-8">
                      <label for="floatingPassword"> Шинэ нууц үг </label>
                      <input type="password" name="new" class="form-control form-control-sm" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');"
                        id="floatingPassword">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-8 mt-3">
                    <div class="form-floating mt-8">
                      <label for="floatingPassword">Шинэ нууц үгээ баталгаажуулах</label>
                      <input type="password" name="new2" class="form-control form-control-sm" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');"
                        id="floatingPassword" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-3 mb-4" class="col-sm-2">
                    <div class="btn-group mr-2 " role="group" aria-label="First group">
                      <input type="submit" id="changePassSubmit" name="changePassSubmit" value="Нууц үг солих">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>     <!-- ###############################################-->
        </div>
    <div class="wrapper2">
      <div class="footer">
        {% include "../includes/footer.html" %}
      </div>
    </div>
  
</body>
<script src="{% static '/js/dashboard/jquery.3.2.1.min.js'%}" type="text/javascript"></script>
<script src="{% static '/js/dashboard/bootstrap.min.js'%}" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="{% static '/js/dashboard/light-bootstrap-dashboard.js'%}"></script>
<script src="{% static '/js/dashboard/demo.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function() {
        $("#undsenMedeelel").addClass("active");
        demo.initChartist();
        $.notify({
            icon: "pe-7s-gift",
            message: "Welcome to WhoIs Dashboard</b>"
        }, {
            type: "info",
            timer: 4000
        });
    });
    $(document).ready(function () {
    $("#profileMenuItem").addClass("active");
    demo.initChartist();
  });
</script>
<script>
  // Get references to HTML elements
  const imageInput = document.getElementById('imageInput');
  const imageContainer = document.getElementById('imageContainer');

  // Add an event listener to the file input
  imageInput.addEventListener('change', (event) => {
      const file = event.target.files[0];

      // Remove the previous image if it exists
      while (imageContainer.firstChild) {
        imageContainer.removeChild(imageContainer.firstChild);
      }

      if (file && file.type.startsWith('image/')) {
          // Create an image element to display the uploaded image
          const image = document.createElement('img');
          image.src = URL.createObjectURL(file);
          image.style.minWidth = '200px';
          imageContainer.appendChild(image);
      } else {
          alert('Та зурагаа сонгоно уу.');
      }
  });
</script>
<script>
  // Inside your existing event listener for file input
imageInput.addEventListener('change', (event) => {
    const file = event.target.files[0];

    // Remove the previous image if it exists
    while (imageContainer.firstChild) {
        imageContainer.removeChild(imageContainer.firstChild);
    }

    if (file && file.type.startsWith('image/')) {
        const image = document.createElement('img');
        image.src = URL.createObjectURL(file);
        image.style.minWidth = '200px';
        imageContainer.appendChild(image);

        // Additional logic to save the image on the server and store the path/URL
        // You'll need to implement this part on the server-side.
        // For example, you can use FormData to send the file to the server via AJAX.

        // Example AJAX request using jQuery
        const formData = new FormData();
        formData.append('image', file);

        $.ajax({
            url: '/upload-image-endpoint', // Replace with your server endpoint
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                // response should contain the path/URL of the saved image
                // You can update the image source with the path/URL here.
                image.src = response.imageURL; // Adjust the response format as needed
            },
        });
    } else {
        alert('Та зурагаа сонгоно уу.');
    }
});

</script>
</html>