{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{% static ''%}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Dashboard WhoIs</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />

  <link href="{% static '/css/dashboard/bootstrap.min.css'%}" rel="stylesheet" />
  <link href="{% static '/css/Profile/1.css' %}" rel="stylesheet" type="text/css">


  <link href="{% static '/css/dashboard/animate.min.css'%}" rel="stylesheet" />


  <link href="{% static '/css/dashboard/light-bootstrap-dashboard.css'%}" rel="stylesheet" />


  <link href="{% static '/css/dashboard/demo.css'%}" rel="stylesheet" />

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css" />
  <link href="{% static '/css/dashboard/pe-icon-7-stroke.css'%}" rel="stylesheet" />
</head>

<body>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Profile</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Profile</p>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'profileViews'%}">
                <p>Account</p>
              </a>
            </li>
            {% include "../includes/logout.html" %}
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static '/images/sidebar-5.jpg'%}">
      {% include "../includes/menu.html" %}
    </div>
    <!-- {{ userName }}
      <br />
      {{ firstName }}
      <br />
      {{ lastName }}
      <br />
      {{ email }}
      <br />
      {{ id }}
      <br /> -->
    <!-- <input type="text" value="{{ email }}" /> -->

    <!-- <a href="{% url 'homeLogoutView' %}">logout</a>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{% static '/images/sidebar-5.jpg'%}">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://whois.mandakh.org/" class="simple-text">
                        WhoIs
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="{% url 'dashboardViews' %}">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'profileViews'%}">
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="pe-7s-note2"></i>
                            <p>My CV</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'myNCViews'%}">
                            <i class="pe-7s-id"></i>
                            <p>My Namecard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'createCVViews'%}">
                            <i class="pe-7s-news-paper"></i>
                            <p>Create a CV</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="pe-7s-note"></i>
                            <p>Create a namecard</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="pe-7s-wallet"></i>
                            <p>Wallet</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>-->
    <!-- <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'homeLogoutView' %}">
                    <p>Log out</p>
                </a>
            </li>
            <li class="separator hidden-lg"></li>
        </ul> -->
    <div class="container">
      <div class="wrapper">
        <h1>Хувийн мэдээлэл</h1>
        <div class="cctabs">
          <input checked id="one" name="tabs" type="radio">
          <label for="one"><i class="fa fa-pencil-square-o"></i> Personal Information</label>
          <input id="two" name="tabs" type="radio" value="Two">
          <label for="two"><i class="fa fa-magic"></i> Education</label>
          <input id="three" name="tabs" type="radio">
          <label for="three"><i class="fa fa-plus-square"></i> Hobby</label>
          <input id="four" name="tabs" type="radio">
          <label for="four"><i class="fa fa-envelope"></i> Experience</label>
          <div class="panels">
            <div class="panel">
              <div class="example">
                <form id="cc-contact" class="form-group" action="" method="post">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-floating mt-3">
                        <input type="name" name="Fist name" class="form-control form-control-sm" id="floatingFname"
                          placeholder="First Name">
                        <label for="floatingInput">First Name</label>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-floating mt-3">
                        <input type="name" name="last name" class="form-control form-control-sm" id="floatingLname"
                          placeholder="Last Name">
                        <label for="floatingInput">Last Name</label>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-8 mt-3">
                      <div class="form-floating mt-8">
                        <input type="email" name="email" class="form-control form-control-sm" id="floatingEmail"
                          placeholder="Email">
                        <label for="floatingInput">Email</label>

                      </div>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>


                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-floating mt-3">
                        <input type="tel" name="phone-number" class="form-control" step="10" id="floatingNumber"
                          placeholder="Number">
                        <label for="floatingInput">Phone Number</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                        <label for="sex" class="lable_sex"><br>Gender :</label>
                        <div class="col-sm-2 mt-2">
                          <div class="form-check mt-3">
                            <div class="form-check">
                              <select>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div><br>

                  <div class="row">
                    <div class="col-sm-2">
                      <label for="lable_birth" class="lable_birth">Tursun on, sar, udur
                        :</label>
                    </div>

                    <div class="col-sm-3 mt-3">
                      <div class="form">
                        <input class="form-control" id="date" name="date" type="date" />
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-8 mt-3">
                      <div class="form-floating mt-3">
                        <input type="text" name="Address" class="form-control form-control-lg" id="floatingAddress"
                          placeholder="Address">
                        <label for="floatingInput">About me</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-8 mt-3">
                      <div class="form-floating mt-8">
                        <input type="city" name="city" class="form-control form-control-sm" id="floatingCity"
                          placeholder="City">
                        <label for="floatingInput">City</label>

                      </div>
                    </div>
                    <div class="col-sm-2"></div>
                  </div>


                  <div class="row">
                    <div class="col-sm-8 mt-3">
                      <div class="form-floating mt-3">
                        <input type="text" name="Address" class="form-control form-control-lg" id="floatingAddress"
                          placeholder="Address">
                        <label for="floatingInput">Full Address</label>
                      </div>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col-sm-12 mt-3 mb-4" class="col-sm-2">
                      <div class="btn-group mr-2 " role="group" aria-label="First group">
                        <button name="submit" type="submit">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel">
              <div class="headline">
                <form id="cc-contact-2" class="form-group" action="" method="post">
                  <div class="Education">
                    <h1>Боловсрол</h1>
                    <table>
                      <tr>
                        <td style="width: 100px; text-align: right;"> Боловсрол: </td>
                        <td style="color: red; text-align: center; width: 20px;"> * </td>
                        <td style="width: 100px;">
                          <select>
                            <option> </option>
                            <option> бага </option>
                            <option> Бүрэн Дунд </option>
                            <option> Суурь </option>
                            <option> Боловсролгүй </option>
                            <option> Дээд </option>
                            <option> Техник мэргэжлийн </option>

                          </select>
                        </td>
                      </tr>
                    </table>



                    <!-- <h1>Эрдмийн зэрэг</h1> -->
                    <table>
                      <tr>
                        <td style="width: 100px; text-align: right;"> Эрдмийн зэрэг: </td>
                        <td style="color: red; text-align: center; width: 20px;"> * </td>
                        <td style="width: 100px;">
                          <select>
                            <option></option>
                            <option> Магистр </option>
                            <option> Доктор </option>
                            <option> Профессор</option>
                          </select>
                        </td>
                      </tr>
                    </table>


                    <table>
                      <tr>
                        <td style="width: 100px; text-align: right;"> Албан тушаал: </td>
                        <td style="color: red; text-align: center; width: 20px;"> * </td>
                        <td> <input type="text" name="lastname" size="30"> </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td style="width: 100px; text-align: right;"> Албан байгууллагын
                          нэр:
                        </td>
                        <td style="color: red; text-align: center; width: 20px;"> * </td>
                        <td> <input type="text" name="lastname" size="30"> </td>
                      </tr>
                    </table>

                    <button name="submit" type="submit" id="contact-submit" data-submit="Saved">Save</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel">
              <div class="headline">
                <form id="cc-contact" class="form-group" action="" method="post">
                  <h1>Hobby</h1>

                  <div class="form-check mt-3">
                    <textarea name="Message" cols="80" rows="10"></textarea>
                  </div>
                  <button name="submit" type="submit" id="contact-submit" data-submit="Saved">Save</button>
                </form>
              </div>
            </div>
            <div class="panel">
              <div class="headline">
                <form id="cc-contact" class="form-group" action="" method="post">
                  <div class="form-check mt-3">
                    <h1 style="float: left;">Туршлага</h1> <br> <br> <br>
                    <div>
                      Ажил эрхлэлтийн байдал: <br>
                      <select>
                        <option></option>
                        <option> Тодорхой хугацааны өмнө ажил эрхэлж байсан </option>
                        <option> Ажил эрхэлж байгаа </option>
                        <option> Оюутан</option>
                        <option> Төгссөнөөс хойш ажил эрхлээгүй</option>
                      </select> <br> <br>
                      Ажиллаж байсан жилүүд: <br>
                      <input placeholder="уу-уу" type="datetime"> <br> <br>
                      Ажиллаж байсан байгууллагууд: <br>
                      <input type="text"> <br> <br>
                      Албан тушаал: <br>
                      <input type="text">
                      </select>
                    </div>

                  </div>

                  <button name="submit" type="submit" id="contact-submit" data-submit="Saved">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="wrapper2">
      <div class="footer">
        {% include "../includes/footer.html" %}
    </div>
    </div>
  </div>


</body>

<script src="{% static '/js/dashboard/jquery.3.2.1.min.js'%}" type="text/javascript"></script>
<script src="{% static '/js/dashboard/bootstrap.min.js'%}" type="text/javascript"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<script src="{% static '/js/dashboard/light-bootstrap-dashboard.js'%}"></script>

<script src="{% static '/js/dashboard/demo.js'%}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    demo.initChartist();

    $.notify(
      {
        icon: "pe-7s-gift",
        message: "Welcome to WhoIs Dashboard</b>",
      },
      {
        type: "info",
        timer: 4000,
      }
    );
  });
</script>

</html>