{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="{% static ''%}" />
  <title>Хувийн мэдээлэл</title>
  <meta name="viewport" content="width=device-width" />
  <link href="{% static '/css/dashboard/bootstrap.min.css'%}" rel="stylesheet" />
  <link href="{% static '/css/Profile/2.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/css/dashboard/animate.min.css'%}" rel="stylesheet" />
  <link href="{% static '/css/dashboard/light-bootstrap-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static '/css/dashboard/demo.css'%}" rel="stylesheet" />
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css" />
  <link href="{% static '/css/dashboard/pe-icon-7-stroke.css'%}" rel="stylesheet" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed" style="width: 1200px;">
      <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
          {% include "../includes/logout.html" %}
          <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="{% static '/images/sidebar-5.jpg'%}">
      {% include "../includes/menu.html" %}
    </div>
    <div class="container">
      <div class="wrapper">
          <div class="main2">
          <!-- ######Хувийн мэдээллийн хэсэг###### -->
            <form id="cc-contact" class="form-group" action="" method="post" name="userNemeltUpdateForm">
              <h1>Нэмэлт мэдээлэл</h1>
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-floating mt-3">
                    <span style="color:#0000FF;">
                      {{ responseText }}
                    </span>
                  </div>
                </div>
              </div>
                <div class="example">
                  <div class="row">
                    <div class="col-sm-8 mt-3">
                      <div class="form-floating mt-3">
                        <label for="floatingInput">Хүйс: </label>
                      </div>
                      <div class="form-check">
                        <select id="gender" name="gender">
                          <option>{{gender}}</option>
                          <option>1</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8 mt-3">
                        <div class="form-floating mt-3">
                          <label for="floatingInput">Төрсөн он,сар,өдөр: </label>
                        </div>
                        <div class="form">
                          <input class="form-control" id="bornDate" name="bornDate" type="date" value="{{bornDate}}" />
                        </div>
                      </div>
                    </div>
                    <br>
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Регистерийн дугаар: </label>
                            <input type="text" name="register" class="form-control" id="register" value="{{register}}">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Утасны дугаар: </label>
                            <input type="text" name="phoneNumber" class="form-control" step="10" id="phoneNumber" value="{{phoneNumber}}">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Иргэншил: </label>
                            <input type="text" name="citizenship" class="form-control" step="10" id="citizenship" value="{{citizenship}}">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Яс үндэс: </label>
                            <input type="text" name="nationality" class="form-control form-control-lg" step="10" id="nationality" value="{{nationality}}">
                          </div>
                        </div>
                      </div>
              
                      <div class="row">
                        <div class="col-sm-8 mt-3">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Гэрийн хаяг</label>
                            <input type="text" name="homeAddress" class="form-control form-control-lg" id="homeAddress" value="{{homeAddress}}">
                          </div>
                        </div>
                      </div>



                      <div class="row">
                        <div class="col-sm-8 mt-3">
                          <div class="form-floating mt-3">
                            <label for="floatingInput">Хобби</label>
                            <div class="form-check mt-3">
                              <textarea name="hobby" cols="80" rows="10" id="hobby">{{hobby}}</textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                      <div class="row">
                        <div class="col-sm-12 mt-3 mb-4" class="col-sm-2">
                          <div class="btn-group mr-2 " role="group" aria-label="First group">
                            <input type="submit" id="userNemeltUpdateSubmit" name="userNemeltUpdateSubmit" value="Хадгалах">
                          </div>
                        </div>
                      </div>
                </div>
            </form>
          </div>
      </div>
    </div>
  <div class="wrapper2">
    <div class="footer">
      {% include "../includes/footer.html" %}
    </div>
  </div>


</body>

<script src="{% static '/js/dashboard/jquery.3.2.1.min.js'%}" type="text/javascript"></script>
<script src="{% static '/js/dashboard/bootstrap.min.js'%}" type="text/javascript"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<script src="{% static '/js/dashboard/light-bootstrap-dashboard.js'%}"></script>

<script src="{% static '/js/dashboard/demo.js'%}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#huwiMedeelel").addClass("active");
    demo.initChartist();

    $.notify({
      icon: "pe-7s-gift",
      message: "Welcome to WhoIs Dashboard</b>"
    }, {
      type: "info",
      timer: 4000
    });
  });
  $(document).ready(function () {
    $("#profileMenuItem").addClass("active");
    demo.initChartist();
  });
</script>

</html> 