{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CIIIVIII.css">
    <link href="https://fonts.cdnfonts.com/css/atakana-sarif" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/609039e62e.js" crossorigin="anonymous"></script>
    <script src="path/to/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{% static 'js/olzii.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/olzii/CIIIVIII.css' %}">
    
</head>

<body>
    <div id="vn">
        <div class="fixed-div">
            <div class="shdw">
                <div class="proback">
                    <div class="propos">
                        <img class="profile" src="{% static '/images/olzii/nuurzurag.jpg' %}">
                    </div>
                    <span>
                        <p class="name">Өлзий сүрэн</p>
                        <p class="lol">Student</p>
                        <div class="har"></div>
                        <br>
                        <a href=""><img class="size" src="{% static '/images/olzii/messenger.png' %}"></a>
                        <a href=""><img class="size" src="{% static '/images/olzii/ig.png' %}"></a>
                        <a href=""><img class="size" src="{% static '/images/olzii/twitter-logo.png' %}"></a>
                    </span>
                </div>
                <div class="back">
                    <br>
                    <p>
                       
                        <button class="downloadButton" onclick="print()" id="printButton">Download as PDF</button>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="abome">
            <br>
            <p class="ab anim1">ABOUT ME</p>
    
    
            <p  class="helber anim1">
                <br>
                <br>
               I'am OLZIISUREN i study for mandakh university.
            </p>
            <br>
            <br>
            <br>
            <div class="zuraas"></div>
            <br>
            <br>
            <table>
                <tr> 
                    <th class="anim1" style="padding-left: 20px;">personal information</th>
                    <th></th>
                    <th class="anim1" style="padding-left: 50px;">languages</th>
                </tr>
                <tr>
                    <td class="anim1">Name:</td>
                    <td class="anim1">Өлзийсүрэн</td>
                    
                    <td class="ro" style="padding-left: 50px;">Mongolian</td>
                </tr>
                <tr>
                    <td class="anim1">First name:</td>
                    <td class="anim1">Даваахүү</td>
                    <td>
                        <div class="ro" style="padding-left: 50px; display:flex">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="ro" style="font-size: 12px; font-weight:bold">native</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="anim1">D.O.B:</td>
                    <td class="anim1">04.03.2004</td>
                    <td class="ro" style="padding-left: 50px;">English</td>
                </tr>
                <tr>
                    <td class="anim1">Address:</td>
                    <td class="anim1">Haa negtee</td>
                    <td>
                        <div class="ro" style="padding-left: 50px;display:flex;">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circled"></div>
                            <div class="circled"></div>
                            <div class="circled"></div>
                            <div class="circled"></div>
                            <div class="circled"></div>
                            <div class="circled"></div>
                            <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                        </div>
                    </td>
                </tr>
                <tr>
         
                    <td class="anim1">Phone:</td>
                    <td class="anim1">80805274</td>
                </tr>
                <tr>
                    <td class="anim1">E-mail:</td>
                    <td>
                        <a class="anim1" href="">sw22d026@mandakh.edu.mn</a> 
                    </td>
                </tr>
            </table>
        </div>
    <br>
    <br>
    <br>
    <div class="zus"></div>
    <br>
    <br>
    <br>
    
    <div class="skill">
        <p style="padding-top: 10px;" class="ab">SKILL</p>
        <table>
            <tr>
                <th style="padding-top: 20px;">Programming languages</th>
            </tr>
            <td class="ro" style="padding-left: 0;">Python</td>
            <!-- <td></td>
            <td></td>
            <td class="ro" style="padding-left: 50px;"> </td>
            <td class="ro" style="padding-left: 50px;">C</td> -->
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ro">C</td>
            </tr>
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ro">Java script</td>
            </tr>
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ro">C+ +</td>
            </tr>
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ro">HTML</td>
            </tr>
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ro">CSS</td>
            </tr>
            <tr>
                <td>
                    <div class="ro" style="padding-left: 0px;display:flex;">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="circled"></div>
                        <div class="ro" style="font-size: 12px; font-weight:bold">beginner</div>
                    </div>
                </td>
            </tr>
        </table>
    
    </div>
    
    <br>
    <br>
    <br>
    <div class="zus"></div>
    <br>
    <br>
    <br>
    <div class="skill2"></div>
    </div>

    <script>
        window.jsPDF = window.jspdf.jsPDF;
        var docPDF = new jsPDF();
        function print() {
            var elementHTML = document.querySelector("#vn");
            docPDF.html(elementHTML, {
                callback: function (docPDF) {
                    docPDF.save('CV_version_02.pdf');
                },
                x: 15,
                y: 15,
                width: 170,
                windowWidth: 650
            });
        }
    </script>
</body>

</html>
