<!DOCTYPE html>
<html lang="en">
  <head>
    <canvas id="myCanvas" width="200" height="100"></canvas>
    <title>temKann CV</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="pro box">
        <div class="img">
          <img id="avatar" src="Avatar.jpg" alt="Telmen" />
          <h1 class="name">Т.ТЭЛМЭН</h1>
          <h5>SOFTWARE ENGINEER</h5>
        </div>
      </div>
      <div class="Hobby box">
        <div class="career">
          <h1>ABOUT ME</h1>
          <p class="p1">
            My name is Telmen and I am a freshman at Mandakh University. My goal
            is to become a professional front-end developer.
          </p>
          <h1>EDUCATION</h1>
          <h3>
            University:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Mandakh
            University
          </h3>
          <h3>
            Highschool:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;Mongeni
            complex
          </h3>
        </div>
        <div class="plus">
          <p>
            <span
              >D.O.B
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:(28-07-2004)</span
            ><br /><br />
            <span
              >PHONE&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;:(+976)
              9310663</span
            ><br /><br />
            <span
              >ADDRESS&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:Ulaanbaatar,MN</span
            ><br /><br />
            <span
              >E-MAIL&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:sw22d035@mandakh.edu.mn</span
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
