body{
    background-image: url(nature.jpg);    
    width: 100%;
}
.container{
    display: inline-block;
}
.box{
    display: inline-block;
    
}
img{
    border-radius: 70%;
    height: 140px;
}
.pro{
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    height: 400px;
    border: 1.96px solid whitesmoke;
    margin-right: 100px;
    float: left;
}
.img{
    margin-left: 150px;
    margin-top: 50px;
}
.name{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
    margin-left:-30px;
    margin-top: 10px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    color:khaki;
    margin: auto;
    margin-left: -23px;
    margin-top: 10px;
}
.Hobby{
    color: whitesmoke;
    font-family: system-ui;
}
.Hobby{
    margin-top: 100px;
    float: right;
    width: 650px;
    height: 500px;
    /* border: white 2px solid; */
}
.career{
    border-bottom: 2px turquoise dotted;
    
}
.plus{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: khaki;

}
.p1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke
}
