a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}li{
    list-style-type: none;
}
.name{
    border: 1px solid;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 4px 0 4px 0 gray;
    opacity: 1;
    transition: background-color 0.7s ease, opacity 0.5s linear;
}
.name:hover{
    width: 400px;
    height: 150px;
    background-color: black;
}
.name:hover h2{
    color: white;
}
.name img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.zurag{
    float: left;
    width: 150px;
    height: 150px;
}
.ug{
    text-align: center;

}

.bt{
    margin-left: 10px;
}