<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume CV Design</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<div class="img_holder">
					<img src="" alt="">
				</div>
				<div class="contact_wrap pb">
					<div class="title">
						Contact
					</div>
					<div class="contact">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></div>
									<div class="text">+976 9974 0654</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
									<div class="text">is21d023@mandakh.edu.mn/div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-map-signs" aria-hidden="true"></i></div>
									<div class="text">ЧД-6-р хороо</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="skills_wrap pb">
					<div class="title">
						Skills
					</div>
					<div class="skills">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-html5"></i></div>
									<div class="text">HTML</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-css3-alt"></i></div>
									<div class="text">CSS</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-js"></i></div>
									<div class="text">Javascript</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-react"></i></div>
									<div class="text">React.JS</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="hobbies_wrap pb">
					<div class="title">
						hobbies
					</div>
					<div class="hobbies">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-book"></i></div>
									<div class="text">Reading</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-music"></i></div>
									<div class="text">Music</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-volleyball-ball"></i></div>
									<div class="text">volleyball</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-tree"></i></div>
									<div class="text">Gardening</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="header">
					<div class="name_role">
						<div class="name">
							Батжаргал Номин-Эрдэнэ
						</div>
						<div class="role">
							Оюутан
						</div>
					</div>
				</div>
				<div class="right_inner">
                    <div class="about">
						Танилцуулга: Би 2021 оноос Мандах их сургуульд мэдээллийн системийн чиглэлээр суралцаж байна.
                        Мэдээллийн системийн чиглэлээр ажиллах хүсэлтэй, урам зоригтой, хариуцлагатай. 
                        Миний хамгийн том мөрөөдөл бол мэдээллийн системийн сайн инженер болж олон төсөл дээр ажиллахыг хүсдэг.
					</div>
                    <div class="education">
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
                                            2003.10.21
										</div>
										<div class="info">
											<p class="info_title">
												birthday
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="education">
						<div class="title">
							Education
						</div>
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
                                            2021 - 2023
										</div>
										<div class="info">
											<p class="info_title">
												Mandakh University, School Of Information Technology
											</p>
                                            <p class="info_com">
                                            Мэдээллийн системийн хөтөлбөр нь мэдээллийн системийн өргөн мэдлэгтэй, эдийн засаг, нягтлан бодох бүртгэлийн нэмэлт мэдлэгтэй, мэдээллийн технологийн аль ч салбарт уян хатан ажиллах чадвартай төгсөгчдийг төгсгөдөг давуу талтай.
                                            </p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											2009-2021
										</div>
										<div class="info">
											<p class="info_title">
												Highschool
											</p>
											<p class="info_com">
												Завхан аймгийн Шилүүстэй сумын бүрэн дунд сургууль
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
                    <div class="education">
						<div class="title">
							OTHER SKILLS
						</div>
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
                                          
										</div>
										<div class="info">
                                            <p class="info_title">
                                                морин хуур
											</p>					
										</div>
									</div>
								</li>
                                <li>
									<div class="li_wrap">
										<div class="date">
										
										</div>
										<div class="info">
                                            <p class="info_title">
												дугуй унах
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">	</div>
										<div class="info">
                                            <p class="info_title">
												даам тоглох
											</p>
											
										</div>
									</div>
								</li>
                                <li>
									<div class="li_wrap">
										<div class="date">	</div>
										<div class="info">
											<p class="info_com">
                                                <p class="info_title">
                                                    мотоцикл унах
                                                </p>
											</p>
										</div>
									</div>
                                    <div class="li_wrap">
										<div class="date">	</div>
										<div class="info">
                                            <p class="info_title">
												морь унах
											</p>
										</div>
									</div>
                                    <div class="li_wrap">
										<div class="date">	</div>
										<div class="info">
                                            <p class="info_title">
												зураг зурах
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <button>Print CV</button>

    <!-- FONTAWESOME JS -->
    <Script src="all.min.js"></Script>
    <!-- CUSTOM JS-->
    <script>
        var btn = document.querySelector("button");
        btn.onclick = () =>{
            window.print();
        }
    </script>
</body>
</html>