<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="bi">
        <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About me</a></li>
        <li><a href="#port">Portfolio</a></li>
        <li><a href="#about">Contact me</a></li>
        </ul>
    </nav>
    <section id="home">
        <div class="main">
            <h1 class="headings">I am <br>  Хулдгай Сарнай</h1>
            <button class="btn"> 
                Hire me
            </button>
        </div>
    </section>
    <section id="about">
        <h1 class="headings">About Me</h1>
        <div id="pic">  
            <img src="үүоооо.webp" >
            <div id="intro">
                <h2>Миний тухай</h2>
                <h3>Би Мандах их сургуулийн 1-р курст суралцдаг. Увс аймгийн Өмнөговь суманд 12-р ангиа төгссөн.
                     Хөгжим тоглох болон дуулж бүжиглэх дуртай. Чөлөөт цагаараа ихэвчлэн сагс тоглодог. 
                     Эзэн хичээвэл заяа хичээнэ гэдэг үгийг хэлэх дуртай.
                     Миний хамгийн дургүй үйлдэл бол хүнийг үл ойшоосон байдал. Яагаад гэвэл энэ байдал 
                     надад их эвгүй мэдрэмж төрүүлдэг.
                     Мэргэжилдээ эзэн болсон боловсон хүчин болж төгсөхийг хүсэж байна.
                    <br> Утасны дугаар : 90210005  <br>
                    Гэрийн хаяг : СХД Хилчин хотхон <br>
                    Нас : 19 <br>
                    Боловсрол : Бүрэн дунд <br>
                    Мэргэжил : Оюутан <br>
                    Хобби : Сагс болон хөгжим тоглох <br>
                    Зуршил : Жоохон залхуу <br>
                </h3>
            </div>
        </div>
    </section>
    <section id="port">
        <h1 class="headings">Portfolio</h1>
        <div class="gallery">
           <a href="https://www.facebook.com/"> <img src="./img/hus.png"></a>
           <a href="https://www.youtube.com/"><img src="./img/na.png" ></a> 
            <img src="./img/nam.png" alt="">
            <img src="./img/sur.png" alt="">
            <a href="https://www.instagram.com/"> <img src="./img/sar.png" alt=""></a> 
            <img src="./img/6.png" alt="">
        </div>
    </section>
   
</body>
</html>