#deed {
    display: inline-flex;
}

#back {
    margin: auto;
    width: 450px;
    height: 600px;
    background-color: rgb(189, 203, 202);
    border: 5px dotted greenyellow;
    border-radius: 50px;
}

#zurag {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    background-image: url('./image/binary.png');
    border-radius: 70px;
    margin-left: 10px;
    margin-top: 20px;
}

#hvree {
    margin-left: 30px;
    margin-top: 50px;
    border: 2px dotted black;
    width: 120px;
    height: 140px;
}

#zuraghvree #tuslahInformation {
    padding-left: 20px;
    margin-top: 70px;
}

#dund {
    /* padding-left: -40px; */
    margin-left: -30px;
}