{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home/log in/register</title>
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/register/register.css' %}">
</head>

<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="" id="loginForm" method="post">
          {% csrf_token %}
          <!-- <h2>Бүртгэлийн хуудас</h2> --> 
          {% if error_message %}
            <p>{{ error_message }}</p>
          {% endif %}
        </form>
        <form action="" id="registerForm" method="post">
          {% csrf_token %}
          <h2>Бүртгэлийн хуудас</h2>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <p style="color: #040404;margin-top: 10px;"> Бүртгүүлэхийн тулд дараах зүйлсийг оруулна уу</p>

          <div class="inputbox">
            <input type="text" id="username"  name="first_name" required />
            <label for="">Овог</label>
            <!-- <span class="icon"><i class='bx bxs-user'></i></span> -->
          </div>
          <div class="inputbox">
            <input type="text" id="username"  name="last_name" required />
            <label for="">Нэр</label>
            <!-- <span class="icon"><i class='bx bxs-user'></i></span> -->
          </div>
          <div class="inputbox">
            <input type="text" id="username"  name="user_name"
              required />
            <label for="">Хэрэглэгчийн нэр</label>
            <!-- <span class="icon"><i class='bx bxs-user'></i></span> -->
          </div>
          <div class="inputbox">
            <input type="text"  name="email" required />
            <label for="">Имэйл хаяг</label>
            <!-- <span class="icon"><i class='bx bxl-gmail'></i></span> -->
          </div>
          <div class="inputbox">
            <input type="password"  name="password" required />
            <label for="">Нууц үг</label>
            <!-- <span class="icon"><i class='bx bxs-lock-alt'></i></span> -->
          </div>
          <div class="inputbox">
            <input type="password"  name="confirm_password" required />
            <label for="">Нууц үг баталгаажуулах</label>
            <!-- <span class="icon"><i class='bx bxs-lock-alt'></i></span> -->
          </div>
              
          <a href="{% url 'EmailVerView'%}">
            <input type="submit" id="button" value="Бүртгүүлэх">
          </a>
          <div class="register">
            <p>
              Бүртгэлтэй бол
              <a href="/login"><span style="color: blueviolet;">Нэвтрэх</span></a>
            </p>
            <p>
              <a href="{% url 'guideViews'%}" style="color:blueviolet;">Заавар</a>
            </p>
          </div>
        </form>

      </div>
    </div>
  </section>

  <script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
      event.preventDefault();
      document.getElementById('registerForm').submit();
    });
  </script>
</body>

</body>

</html>
