<!DOCTYPE html>
<html>
<head>
  <title>Бүртгэл баталгаажуулах хуудас</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/register/style.css'%}">
</head>
<body>
   <div class="head1">
                <div class="chi"><img src="./bi.png" alt=""></div>
                <div class="bi"><h1>Who is</h1> </div>
            </div>
  <div class="container">
    <h2>Та энд дарж бүртгэлээ баталгаажуулна уу</h2>
    <input type="submit" id="button" value="Баталгаажуулах">
    <!-- Your form and content will go here -->
  </div>
</body>
</html>