{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Бүртгэл баталгаажуулах хуудас</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/register/style.css'%}">
</head>
<body>
   <div class="head1">
                <div class="chi"><img src="{% static '/images/week1/l.png'%}" alt=""></div>
                <div class="bi"><h1>Who is</h1> </div>
            </div>
  <div class="container">
    <h2>Таныг амжилттай бүртгэлээ.Та имэйл-ээ шалгана уу</h2>
    <a href="https://mail.google.com/"><span>Гарах</span></a>
    <!-- Your form and content will go here -->
  </div>
</body>
</html>