{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM Webtech</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static '/css/tstyle.css' %}">
    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="all.min.css">
</head>
<body>
    <div class="print-area">
        <div class="header">
            <img src="{% static '/images/tseba.jpg' %}">
            <div class="header-text">
                <h1>Саруулын Цэрэнбаатар</h1>
                <p>Оюутан</p>
            </div>
        </div>

        <div class="content">
            <div class="left-area">
                <div class="contact">
                    <h4>ХОЛБОО БАРИХ</h4>
                    <h5>Утасны дугаар:</h5>
                    <p>9066-6046</p>
                    <h5>Email:</h5>
                    <p>tszuud@yahoo.com</p>
                    <h5>Гэрийн хаяг:</h5>
                    <p>144-Б-19</p>
                </div>
                <div class="skills">
                    <h1>МЭРГЭЖЛИЙН УР ЧАДВАР</h1>
                    <div class="bars">
                        <div class="bar">
                            <p>HTML, CSS</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>Python</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>Javascript</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>React</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>React Native</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>SQL</p>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="follow">
                    <h1>ЦАХИМ ХАЯГ</h1>
                    <h4>Facebook:</h4>
                    <p>Tserenbaatar Saruul</p>
                    <h4>Instagram:</h4>
                    <p>tsebashd</p>
                </div>
            </div>



            <div class="right-area">
                <div class="about">
                    <h1 style="text-align: center;"><span><i class="far fa-user"></i></span>ДЭЛГЭРЭНГҮЙ МЭДЭЭЛЭЛ</h1>
                    <p>Саруул овогтой Цэрэнбаатар миний бие 2003 оны 1-р сарын 24-нд Сэлэнгэ <br> аймагт төрсөн.</P>
                </div>
                <div class="work">
                    <h1><span><i class="fas fa-suitcase-rolling"></i>
                    </span>СОНИРХОЛ:</h1>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Код бичих</p>
                    </div>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Фитнессээр хичээлэх</p>
                    </div>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Даам тоглох</p>
                    </div>
                </div>
                <div class="education">
                    <h1><span><i class="fas fa-book"></i>
                    </span>БОЛОВСРОЛ:</h1>
                    <div class="edu-group">
                        <h4>- Дорноговь аймгийн Замын-Үүд сумын <br> 1-р сургууль</h4>
                        <span>2009/2021</span>
                        <p></p>
                    </div>
                    <div class="edu-group">
                        <h4>- Мандах Их Сургуулийн <br> Мэдээлэл Технологийн Сургууль</h4>
                        <span>2022</span>
                        <p>/Программ хангамж/</p>
                    </div>
                </div>
                <div class="work">
                    <h1><span><i class="fas fa-suitcase-rolling"></i>
                    </span>БУСАД УР ЧАДВАР:</h1>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Англи хэлний дунд шатны мэдлэгтэй</p>
                    </div>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Microsoft office-н программ дээр ажилдаг</p>
                    </div>
                    <div class="work-group">
                        <h3></h3>
                        <h4></h4>
                        <span></span>
                        <p>- Баннер хийж чадна</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button>Print CV</button>

    <!-- FONTAWESOME JS -->
    <Script src="all.min.js"></Script>
    <!-- CUSTOM JS-->
    <script>
        var btn = document.querySelector("button");
        btn.onclick = () =>{
            window.print();
        }
    </script>
</body>
</html>