<!DOCTYPE html>
<html lang="en">
<head >  
    <link rel="stylesheet" href="cvcss.css">
    <title>Document</title>
 
</head>
<body>    
    <div class="main">
        <div class="top-section">
            <img src="346151411_1984767311868750_4563038647913558189_n.jpg" class="profile">
            <p class="p1">Номин-Эрдэнэ <span>Жаргалсайхан</span></p>
            <p class="p2">information system</p>
        </div>
    <div class="clearfix"></div>
        <div class="col-div-4">
            <div class="content-box" style="padding-left: 40px;">
            <p class="head">Contact</p>
        <p class="p3"><i class="fa fa-phone"></i>&nbsp; &nbsp; 80268294</p>
        <p class="p3"><i class="fa fa-phone"></i>&nbsp; &nbsp; jnomin768@.gmail.com</p>
        <p class="p3"><i class="fa fa-phone"></i>&nbsp; &nbsp; Ulaanbaatar Mongolia</p>  
     <br/>
     <p class="head">My skills</p>
     <ul class="skills">
          <li><span> Web design </span></li>
        <li><span>HTML</span></li>
        <li><span>CSS</span></li>
        <li><span>Javascript</span></li>
     </ul>
     
     <br/>
     <p class="head">Хобби</p>
     <p class="p3"> Волейбол тоглох</p>
     <p class="p3">Ууланд алхах</p>
     <p class="p3">Жимсэнд явах</p>
     <p class="p3"> Найзуудтайгаа уулзах</p>
     <p class="p3"></p>

     <br/>
     <p class="head">Дуртай амттан</p>
     <p class="p3"> Шоколад</p>
     <p class="p3">Гүзээлзгэнэ</p>
     <p class="p3">Spicy chips</p>
     <p class="p3">Мөхөөлдөс</p>
     <p class="p3">Модтой чихэр </p>
     <p class="p3">Резин чихэр </p>
     
        
    </div>
        </div>
        <div class="line"></div>
        <div class="col-div-8">
            <div class="content-box"></div>

            <p class="head">Танилцуулга </p>
            <p class="p3" style="font-size:17x;"> 
            Сайн байцгаана уу намайг Номин-Эрдэнэ гэдэг.Айлын <br>
            Айлын ууган охин Би Баянхонгор аймгийн Жаргалант суманд  <br>
            төрж өссөн ба Ахлах сургуулиа төгссөн.Одоогоор Мандах <br>
            Их Сургуулийн Мэдээлэл Технологийн Их Сургуульд Мэдээлэл  <br>
            системийнангид суралцдаг. . <br> </p>


            <p class="head">Мөрөөдөл  </p>
            <p class="p3" style="font-size:17x;"> </p>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>




            <p class="head">Шагнал урамшуулал  </p>
            <p class="p3" style="font-size:17x;"> </p>


        </div>
    </div>
</body>
</html>