{% load static %}
<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th>Нэр</th>
        <th>Зураг</th>
      </tr>
      <tr>
        <td>Өсөхбаяр</td>
        <td><img src="{% static '/images/avatar.jpg' %}" width="200px" /></td>
      </tr>
      <tr>
        <td>Elon</td>
        <td><img src="{% static '/images/2.jpg' %}" width="200px" /></td>
      </tr>
    </table>
    <iframe
      width="200"
      src="https://www.youtube.com/embed/p0MGwdLcmgU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </body>
</html>
