{%load static%}
<!DOCTYPE html>
<html lang="en">

  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</html>
<title>My Web CV</title>

</head>

<body>
  <a href="/week1">Back</a>
  <div class="main">
    <div class="left">
      <br>
      <div class="profile-img"><img src=" {%static '/images/tuguldur/1.jpg' %}"class="img"></div>
      <div class="box-1">
        <div class="heading">
          <p>Contact</p>
        </div>
        <p class="p1"><span class="material-symbols-outlined icons1">call</span>+97699664069</p>
        <p class="p1"><span class="material-symbols-outlined icons1">mail</span></i>tuugii.tuugii38@yahoo.com</p>

      </div>
      <div class="box1">
        <div class="heading">
          <p>Language</p>
        </div>

        <p class="p1"> <img src="{% static '/images/tuguldur/location.png' %}" class="img1"></span>html,css
        <div class="skill-container">
          <div class="skill html"></div>
        </div>
        </p>
        <p class="p1"><img src="{% static 'images/tuguldur/react.jpg'%}" class="img1">react
        <div class="skill-container">
          <div class="skill react"></div>
        </div>
        </p>
        <p class="p1"><img src="{% static 'images/tuguldur/python.jpg' %}" class="img1">python
        <div class="skill-container">
          <div class="skill python"></div>
        </div>
        </p>
        <p class="p1"><img src="{% static 'images/tuguldur/js.jpg'%}" class="img1">js
        <div class="skill-container">
          <div class="skill js"></div>
        </div>
        </p>


        <br>
      </div>

      <div class="box1">
        <div class="heading">
          <p>Hobbies</p>
        </div>

        <p class="p1"><span class="material-symbols-outlined icons1">mic </span>Singing song
        <div class="skill-container">
          <div class="skill song"></div>
        </div>
        </p>
        <p class="p1"><span class="material-symbols-outlined icons1">Monitor </span>Play games
        <div class="skill-container">
          <div class="skill game"></div>
        </div>
        </p>
        <p class="p1"><span class="material-symbols-outlined icons1">manga </span>Manga reading
        <div class="skill-container">
          <div class="skill read"></div>
        </div>
        </p>
        <p class="p1"><span class="material-symbols-outlined icons1">visibility </span>Anime watching
        <div class="skill-container">
          <div class="skill watch"></div>
        </div>
        </p>
      
        <div class="box1">
          <div class="heading">
            <p>Social address</p>
          </div>
  
          <p class="p1"> <img src="{% static 'images/tuguldur/qr.png'%}" class="qr">
          <div class="skill-container">
            <div class="skill-fb"></div>
          </div>
          </p>
          
          
        
        </div>
      </div>

    </div>
    

    <div class="right">
    </div>
    <div class="name-div">
  <h1>Хандмаа Төгөлдөр</h1>
  <p>Оюутан</p>
<div class="box2">
  <h2>Миний тухай<i class="material-symbols-outlined icons3" style="font-size: 28px!important" >perm_identity</i></h2>
</div>
<p class="p2" >
  боловсролоо ахиулахын тулд хичээж байгаа хүн</p>
  </div>
  <div class="box3">
    <h2 class="txt0">Боловсрол <i class="material-symbols-outlined icons3">border_color</i></h2>
    <p class="p3">2009-2021<br><span>Нийслэлийн Ерөнхий Боловсролын 9 дүгээр сургууль</span></p>
    <p class="p3">2021<br><span>Одоогоор Мандах Mэдээллийн Tехнологийн Их Сургуульд суралцаж байгаа</span></p>
  </div>
  <div class="box4">
    <h2 class="txt0">Ажлын туршлага <i class="material-symbols-outlined icons3">work</i></h2>
    <p class="p4">2016/9-2017/4<br><span>Хөгжүүлэгч</span><br>Вэрим Билги Технологи ХХК-д</p>
    <p class="p4">2015/1-2016/8<br><span>Вэб Хөгжүүлэгч, Вэб Дизайнер</span><br>   Мэдээллийн Технологи Газар-д</p>
    <button class="downloadpdf" onclick="window.location='res/cv.pdf'">Download PDF</button>
  <script src="all.min.js"></script>

<script>
var btn=document.querySelector("button");
btn.onclick=()=>{
  window.print();
}
  </script>
  </div>
  </div>
</body>

</html>