<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="C:\Users\oyutna\Desktop\m\mag\style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> -->
<body>

<div class="resume-box" id="hi">
	
	<div class="left-section"  id="hi">
		<div class="profile"  id="hi">
		<img src="image\pro.jpg" class="profile-img">
		<div class="blue-box"  id="hi"></div>
		</div>
		<h2 class="name">Мэдээлэл технологийн оюутан <br><span>Н.Магнай</span></h2>
		<p class="n-p">Программ хангамжийн суралцагч</p>


		<div class="info"  id="hi">
			<p class="heading">Мэдээлэл</p>
			<p class="p1"><span class="span1"><img src="image/location.png"></span>Address<span> <br>47.92757248676632, 106.88894748258966</span></p>
			<p class="p1"><span class="span1"><img src="image/call.png"></span>Phone<span> <br>+976 95864026</span></p>
			<p class="p1"><span class="span1"><img src="image/mail.png"></span>Email<span> <br>sw21d039@mandakh.edu.mn</span></p>
			
		</div>

		<div class="info"  id="hi">
			<p class="heading">Social</p>
			
			<p class="p1"><span class="span1"><img src="image/facebook.png"></span>Facebook<span> <br>Магнай</span></p>
		</div>

	</div>

	<div class="right-section"  id="hi">
		<div class="right-heading"  id="hi">
			
			
		</div>
		<p class="p3"></p>

		<div class="clearfix" id="hi"></div>
		<br><br>
		<div class="right-heading" id="hi">
			<img src="image/pencil.png">
			<p class="p2">Ажлын туршлага</p>
		</div>
		<div class="clearfix" id="hi"></div>
		<div class="lr-box" id="hi">
		<div class="left" id="hi">
			<p class="p4">2018 - 2019</p>
			<p class="p5">Circkle K</p>
		</div>

		<div class="right" id="hi">
			<p class="p4">Circkle k</p>
			<p class="p5">international convention store</p>
			<p class="p5">Үйлчилгээний ажилтангаар 1жилийн хугацаанд зөв боловсон харилцаа ёс зүйд суралцсан.</p>
		</div>
		
		<div class="clearfix" id="hi"></div>
		</div>


		<br>
		<div class="right-heading" id="hi">
			<img src="image/edu.png">
			<p class="p2">Боловсрол</p>
		</div>
		<div class="clearfix" id="hi"></div>
		<div class="lr-box" id="hi">
		<div class="left" id="hi">
			<p class="p4">2007 - 2014</p>
			<p class="p5">ЕБС</p>
		</div>

		<div class="right"  id="hi">
			<p class="p4">БГД Ган-зам 20-р сургууль</p>
			<p class="p5">Суурь боловсрол</p>
			<p class="p5"> </p>
		</div>
		<div class="clearfix"  id="hi"></div>
		</div>

		<div class="lr-box" id="hi">
		<div class="left"  id="hi">
			<p class="p4">2015 - 2017</p>
			<p class="p5">МСҮТ</p>
		</div>

		<div class="right" id="hi">
			<p class="p4">ЧД-н Шинэ иргэншил политехник коллеж </p>
			<p class="p5">Хэвлэлийн эх бэлтгэгч график дизайнер </p>
			<p class="p5"> </p>
		</div>
		<div class="clearfix" id="hi"></div>
		<div class="lr-box" id="hi">
		<div class="left"  id="hi">
			<p class="p4">2017 - 2018</p>
			<p class="p5">Их сургууль</p>
		</div>

		<div class="right" id="hi">
			<p class="p4">ЧД-н Шинэ иргэншил дээд сургууль</p>
			<p class="p5">НББ</p>
			<p class="p5"> </p>
		</div>
		<div class="clearfix"  id="hi"></div>
		</div>

		<div class="lr-box" id="hi">
		<div class="left" id="hi">
			<p class="p4">2021 - 2025</p>
			<p class="p5">Мандах их сургууль</p>
		</div>

		<div class="right"  id="hi">
			<p class="p4">Мэдээлэл технологийн сургууль </p>
			<p class="p5">Программ хангамж </p>
			<p class="p5"> </p>
		</div>
		<div class="clearfix" id="hi"></div>
		</div>

		<br>
		<div class="right-heading"  id="hi">
			<img src="image/edu.png">
			<p class="p2">Ур чадвар</p>
		</div>
		<div class="clearfix" id="hi"></div>
		<div class="s-box" id="hi">
			<p class="p6">Grapic Design</p>
			<div class="progress" id="hi"></div>
			<p class="p6">Web Design</p>
			<div class="progress1"  id="hi"></div>
			
		</div>
		<div class="s-box" id="hi">
			<p class="p6">HTML</p>
			<div class="progress2"  id="hi"></div>
			<p class="p6">CSS</p>
			<div class="progress3" id="hi"></div>
		</div>


		<div class="clearfix" id="hi"></div>
		<br><br>
		<div class="right-heading" id="hi">
			<img src="image/hobbies.png">
			<p class="p2">Hobby & Internet</p>
		</div>
		<div class="clearfix"  id="hi"></div>
		<img src="image/bicycle.png" class="h-img">
		<img src="image/games.png" class="h-img">
		<img src="image/book.png" class="h-img">
		<img src="image/design.png" class="h-img">

		<div class="col-md-12 text-right mb-3"  id="hi">

		
	</div>


	</div>

		<div class="clearfix" id="hi"></div>
	

		<div class="button">
			<button onclick="print()">click</button>
		</div>
		</div>
		

	<script>
		window.jsPDF = window.jspdf.jsPDF;
        var docPDF = new jsPDF();
        function print() {
            var elementHTML = document.querySelector("#hi");
            docPDF.html(elementHTML, {
                callback: function (docPDF) {
                    docPDF.save('CV_version_02.pdf');
                },
                x: 15,
                y: 15,
                width: 170,
                windowWidth: 650
            });
        }
	// window.onload = function () {
	// 	document.getElementById("download")
	// 		.addEventListener("click", () => {
	// 			const invoice = this.document.getElementById("hi");
	// 			console.log(invoice);
	// 			console.log(window);
	// 			var opt = {
	// 				margin: 1,
	// 				filename: 'myfile.pdf',
	// 				image: { type: 'jpeg', quality: 0.98 },
	// 				html2canvas: { scale: 2 },
	// 				jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
	// 			};
	// 			html2pdf().from(invoice).set(opt).save();
	// 		})
	// }
	</script>


	

</div>



</body>
</html>