<div class="sidebar-wrapper">
  <div class="logo">
    {% include "../includes/logo.html" %}
  </div>

  <ul class="nav">
    <li class="active">
      <a href="{% url 'dashboardViews' %}">
        <i class="pe-7s-graph"></i>
        <p>Хэрэглэгчийн самбар</p>
      </a>
    </li>
    <li>
      <a href="{% url 'profileViews'%}">
        <i class="pe-7s-user"></i>
        <p> Хувийн мэдээлэл</p>
      </a>
    </li>
    <li>
      <a href="{% url 'myCV' %}">
        <i class="pe-7s-note2"></i>
        <p>Миний танилцуулга</p>
      </a>
    </li>
    <li>
      <a href="{% url 'myNCViews'%}">
        <i class="pe-7s-id"></i>
        <p>Миний нэрийн хуудас </p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="pe-7s-star"></i>
        <p> Таалагдсан загварууд</p>
      </a>
    </li>
    <li>
      <a href="{% url 'createCVViews'%}">
        <i class="pe-7s-news-paper"></i>
        <p>Танилцуулга үүсгэх</p>
      </a>
    </li>
    <li>
      <a href="{% url 'createNCViews'%}">
        <i class="pe-7s-note"></i>
        <p>Нэрийн хуудас үүсгэх</p>
      </a>
    </li>
    <li>
      <a href="{%url 'wallet'%}">
        <i class="pe-7s-wallet"></i>
        <p>Хэтэвч</p>
      </a>
    </li>
  </ul>
</div>
