<div class="sidebar-wrapper">
  <div class="logo">
    {% include "../includes/logo.html" %}
  </div>

  <ul class="nav">
    <li class="active">
      <a href="{% url 'dashboardViews' %}">
        <i class="pe-7s-graph"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="{% url 'profileViews'%}">
        <i class="pe-7s-user"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="pe-7s-note2"></i>
        <p>My CV</p>
      </a>
    </li>
    <li>
      <a href="{% url 'myNCViews'%}">
        <i class="pe-7s-id"></i>
        <p>My Namecard</p>
      </a>
    </li>
    <li>
      <a href="{% url 'createCVViews'%}">
        <i class="pe-7s-news-paper"></i>
        <p>Create a CV</p>
      </a>
    </li>
    <li>
      <a href="">
        <i class="pe-7s-note"></i>
        <p>Create a namecard</p>
      </a>
    </li>
    <li>
      <a href="{%url 'wallet'%}">
        <i class="pe-7s-wallet"></i>
        <p>Wallet</p>
      </a>
    </li>
  </ul>
</div>
