<div class="sidebar-wrapper">
  <div class="logo">
    {% include "../includes/logo.html" %}
  </div>

  <ul class="nav">
    <li id="dashboardMenuItem">
      <a href="{% url 'dashboardViews' %}">
        <i class="pe-7s-graph"></i>
        <p>Хэрэглэгчийн самбар</p>
      </a>
    </li>
    <li id="profileMenuItem">
      <a href="#">
        <i class="pe-7s-user"></i>
        <p> Хувийн мэдээлэл</p>
      </a>
      <ul style="list-style: none;">
        <li>
          <a href="{%url 'profileMain'%}">
            <i class="pe-7s-user"></i>
            <p>Үндсэн Мэдээлэл</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileAdd'%}">
            <i class="pe-7s-id"></i>
            <p>Нэмэлт Мэдээлэл</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileFamily'%}">
            <i class="pe-7s-users"></i>
            <p>Гэр бүлийн мэдээлэл</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileEdu'%}">
            <i class="pe-7s-study"></i>
            <p>Боловсрол</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileExp'%}">
            <i class="pe-7s-magnet"></i>
            <p>Туршлага</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileSkill'%}">
            <i class="pe-7s-notebook"></i>
            <p>Чадвар</p>
          </a>
        </li>
        <li>
          <a href="{%url 'profileSocial'%}">
            <i class="pe-7s-global"></i>
            <p>Сошиал</p>
          </a>
        </li>
      </ul>
    </li>

    <li id="MyCvMenuItem">
      <a href="{% url 'myCV' %}">
        <i class="pe-7s-note2"></i>
        <p>Миний танилцуулга</p>
      </a>
    </li>
    <li id="MyNcMenuItem">
      <a href="{% url 'myNCViews'%}">
        <i class="pe-7s-id"></i>
        <p>Миний нэрийн хуудас </p>
      </a>
    </li>
    <li id="WalletMenuItem">
      <a href="{%url 'wallet'%}">
        <i class="pe-7s-wallet"></i>
        <p>Хэтэвч</p>
      </a>
    </li>
  </ul>
</div>