{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forget/forget.css' %}">
    <!-- <link rel="stylesheet" href="forget.css"> -->
    <title>Forget Password</title>
</head>
<body>
    <div class="row">
        <h1>Нууц үг сэргээх</h1>
        <!-- <h6 class="information-text">Enter your Registered email to reset password.</h6> -->

    <div class="form-group">
        <form action="" id="loginForm" method="POST">

        <p><label for="username">Email</label></p>
        <input type="email" id="username" placeholder="Бүртгэлтэй имэйл хаягаа оруулна уу." required >
        <!-- <p><label for="username">Email</label></p> -->


    <div class="form-group">
        <p><label for="password">Шинэ нууц үг  </label></p>
        <input type="password" id="password" placeholder="Энд нууц үгээ хийнэ үү." required >
        <!-- <p><label for="password">Шинэ нууц үг</label></p> -->

    <div class="form-group">
        <p><label for="password">Нууц үгээ дахин оруулна уу.</label></p>
        <input type="password" id="password" placeholder="Энд нууц үгээ хийнэ үү." required >
        <!-- <p><label for="password">Нууц үгээ дахин оруулна уу.</label></p> -->
    


        <button id="forget" type="submit">Нэвтрэх</button>
                    <div class="register">
                        <p><a href="{% url 'homeView'%}"><span style="color: aqua;">Буцах</span></a></p>
                    </div>
                    <!-- <div class="Profile">
                        <p><a href="{% url 'homeView'%}"><span style="color: aqua;">Буцах</span></a></p>
                    </div> -->
                </form>
            </div>
        </div>
    </section>
	<script>

		document.getElementById("loginForm").addEventListener("submit", function(event) {
	  event.preventDefault(); // Хуудсыг дахин ачаалахгүйн тулд маягт оруулахаас сэргийлнэ үү
	
	  //Хэрэглэгчийн оруулсан мэдээллийг авах
	
	  var username = document.getElementById("username").value;
	  var password = document.getElementById("password").value;
	
	  // Баталгаажуулалт хийх (жишээ нь логик)
	
	  if (username === "admin" && password === "password") {
		// Амжилттай нэвтэрлээ
	
		alert("Нэвтрэлт амжилттай!");
		//Шинэ хуудас руу дахин чиглүүлэх гэх мэт үйлдлүүдийг гүйцэтгэнэ
	
	  } else {
		// Буруу нэвтрэх
		alert("Хэрэглэгчийн нэр эсвэл нууц үг буруу");
		// 
	  }
	});
		</script>

  </body>
</html>
</div>
    </div>
</body>
</html>