{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/forget/forget.css' %}" />

    <title>Forget Password</title>
  </head>
  <body>
    <div class="row">
      <h1>Нууц үг сэргээх</h1>
      <span style="color: #1c99fe"> {{ aldaaniiMedegdel }} </span>

      <form action="" id="forgotPasswordRequest" method="POST">
        {%csrf_token%}
        <div class="form-group">
          <p><label for="username">Email</label></p>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Бүртгэлтэй имэйл хаягаа оруулна уу."
            required
          />
        </div>
        <div class="form-group">
          <p><label for="password">Шинэ нууц үг </label></p>
          <input
            type="password"
            id="pass1"
            name="pass1"
            placeholder="Энд нууц үгээ хийнэ үү."
            required
          />
        </div>
        <div class="form-group">
          <p><label for="password">Нууц үгээ дахин оруулна уу.</label></p>
          <input
            type="password"
            id="pass2"
            name="pass2"
            placeholder="Энд нууц үгээ хийнэ үү."
            required
          />
          <button
            id="forgotPasswordRequestSubmit"
            type="submit"
            name="forgotPasswordRequestSubmit"
          >
            Баталгаажуулах код авах
          </button>
        </div>
      </form>
      <form action="" id="forgotPasswordConfirm" method="POST">
        {%csrf_token%}
        <div class="form-group">
          <p><label for="text">Баталгаажуулах код</label></p>
          <input
            type="text"
            id="verifyCode"
            name="verifyCode"
            placeholder="Баталгаажуулах кодоо хийнэ үү."
            required
          />
          <button
            id="forgotPasswordConfirmSubmit"
            type="submit"
            name="forgotPasswordConfirmSubmit"
          >
            Нууц үг өөрчлөх
          </button>
        </div>
      </form>
      <div class="register">
        <p>
          <a href="{% url 'homeView'%}"
            ><span style="color: aqua">Буцах</span></a
          >
        </p>
      </div>
    </div>
  </body>
</html>

<script>
  document
    .getElementById("loginForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Хуудсыг дахин ачаалахгүйн тулд маягт оруулахаас сэргийлнэ үү

      //Хэрэглэгчийн оруулсан мэдээллийг авах

      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;

      // Баталгаажуулалт хийх (жишээ нь логик)

      if (username === "admin" && password === "password") {
        // Амжилттай нэвтэрлээ

        alert("Нэвтрэлт амжилттай!");
        //Шинэ хуудас руу дахин чиглүүлэх гэх мэт үйлдлүүдийг гүйцэтгэнэ
      } else {
        // Буруу нэвтрэх
        alert("Хэрэглэгчийн нэр эсвэл нууц үг буруу");
        //
      }
    });
</script>
